$bg-color: white;
$bg-padding: 50px;

#navbar {
    background-color: rgb(39, 39, 233) !important;
    font-size: 30px;
    color: $bg-color !important;
}

#historia {
    color: $bg-color;
}

#nykyaika {
    color: white;
}

.navbar-brand {
    font-size: 30px;
    color: $bg-color !important;
}

body { 
    background-color: rgb(247, 255, 130);
}

#accordionPanelIsStayOpenExample {
    width: 570px !important;
}

.accordion {
    /*padding-top: 50px;*/
    padding-top: $bg-padding;
}

img {
    /*padding-top: 50px;*/
    padding-top: $bg-padding;
}

